body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "HEADER"
        "MAIN"
        "FOOTER"
    ;
    grid-template-columns: 1fr;
}

header {
    background-color: #87cefa;
    grid-area: HEADER;
}

main {
    background-color: #90ee90;
    grid-area: MAIN;
}

footer {
    background-color: #f9adb8;
    grid-area: FOOTER;
}

header,
main,
footer {
    padding: 1rem;
}